---
layout: default
title: Blog
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
customStyle: >
  :root {
    --main-bg-color:#cfd3ed;
    --main-bg-gradient:radial-gradient(rgb(250, 252, 186),rgb(214, 255, 127));
  }
lightbox: true
---

<h2>blog</h2>

<p>welcome.</p>
<p>browse the <a href="/blog/archive/">archive</a> or subscribe to <a href="/newsletter">junkyart cable</a>.</p>

{% include "paginav.liquid" %}

<div class="article-list">
{% for post in posts %}
  <article id="{{post.data.date}}" class="blog-post">
    <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    <p class="metadata">{{post.data.date | addTimeToIsoDate | date: "%b %e, %Y"}} | <a href="{{ post.url }}">permalink</a></p>
    {% image post.data.thumbnail, post.data.thumbnailAlt, 1440, "" %}
    {{post.content}}
  </article>
{% endfor %}
</div>

{% include "paginav.liquid" %}